<title><%= provide :title, t(".provide_title") %></title>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".main_page_first" %>
  <%= link_to t(".rails_help"), Settings.help.tutorial_help, target: :_blank %>
  <%= t ".main_page_last" %>
  <%= link_to t(".rails_book"), Settings.help.tutorial_book, target: :_blank %>
</p>
