<h1> <%= t ".title" %> </h1>
<p> <%= t ".hello" %> <%= @user.name %>,</p>

<p> <%= t ".content" %> </p>

<%= link_to t(".activation_button"), edit_account_activation_url(id: @user.activation_token,
email: @user.email) %>
