<h1><%= t ".title" %></h1>

<p><%= t ".subject" %></p>
<%= link_to t(".title"), edit_password_reset_url(id:@user.reset_token, email: @user.email) %>
<p> <%= t ".expire" %> </p>
<p> <%= t ".content" %> </p>
